// Place all the styles related to the epub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border: 1px solid #ccc;
  td{
    border: 1px solid #ccc;
  }
}

.eng {
  float:right;
  width:45%;
}
.jap{
  width:45%;
}